<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset = "UTF-8">
    <title>Todo</title>
    <link rel="stylesheet" href="../styles/style.css">
  </head>

  <body>



    <script src = "js/move.js">
    </script>

    <div class="navbar-fixed">
      <nav>
        <a href="/" class="brand-logo">Renoyu site</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="">LINK</a></li>
        <li><a href="https://atcoder.jp/users/renoyu">Atcoder</a></li>
        <li><a href="https://github.com/erukku/">Github</a></li>
        <li><a href="https://www.pixiv.net/">pixiv</a></li>
      </ul>
      </nav>
    </div>

      <ul id="slide-out" href="#" class="sidenav">
        <li><div class="user-view">
          <div class="background">
            <img class="responsive-img" src = 'image/yukari.jpg'>
          </div>
          <a href="#user"><img class="circle" src = 'image/yukari.jpg'></a>
          <a href="#name"><span class="black-text name">renoyu</span></a>
        </div></li>
        <li><a href="https://twitter.com/rennoyu/"><i class="material-icons">last_page</i>twitter @rennoyu</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
        <li><a class="sidenav-close" href="#!">Clicking this will close Sidenav</a></li>
      </ul>
    
      <div class="fixed-action-btn sidenav-trigger" data-target="slide-out">
        <a class="btn-floating btn-large red">
          <i class="large material-icons">menu</i>
        </a>
      </div>
    
    <script type="text/javascript">
      var instance = M.Sidenav.getInstance(elem);
      instance.open()
      //var instance = M.Sidenav.getInstance(elem);
    </script>

<div class="container">
<h1>{{.Size}}</h1>
<ul>
  <div class="row">
  {{ range .Colors }}
  <div class="col s4">
  <li><svg width="100" height="100">
    <circle cx="50" cy="50" r="50" fill={{.Color}}>
  </svg></li>
  <li><div align="center"><font color={{.Color}}>{{.Color}}</font></div></li>
  </div>
  {{ end }}
  </div>
</ul>
</div>

<div align="center">
  <a class="waves-effect waves-light btn" href="next.html">Reload</a>
</div>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    
  </body>
</html>