body {
	color: gray;
}

circle{
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: skyblue;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
    border-bottom: 1px solid lightgray;
}

body {
  
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.container {
  margin: 0 auto;

  width: 100%;
}

    
canvas {
  padding: 0;
  margin: auto;
  display: block;
  width: 640px;
}